

.flex {
display: flex;

/**Свойство justify-content отвечает за горизонтальное выравнивание**/

justify-content: flex-start; /*Все элементы выстраиваются горизонтально друг за другом,
с начала родительского контейнера*/

/*justify-content: flex-end;  Все элементы начинают отображаться с конца родительского контейнера, по горизонтали*/

/*justify-content: center;  Все элементы начинают строиться от центра, по горизонтали, */

/*justify-content: space-around;  Элементы друг другу не прилипают, пространство между элементами
распределяется равномерно и окружают элементы (контейнеры), */

/*justify-content: space-between;  Все элементы распределяются в пространстве равномерно */


}


.flex-2 {
display: flex;

/*Направление оси*/

flex-direction: column;  /*Выравнивание элементов идет по оси Y - вертикали*/

/* flex-direction: row; Выравнивание элементов идет по оси X - горизонтали*/

/* flex-direction: row-reverse; Выравнивание элементов идет по оси X - в обратном порядке*/

}


.flex-4 {
display: flex;
width: 250px;
align-content: stretch; /*Данное значение по умолчанию*/
/*align-content: flex-start; Значение рассчитывается исходя из высоты содержимого стартового элемента*/
align-content: flex-end; /*- значения флексбоксов рассчитывается из высоты содежимого последнего элемента*/
align-content: flex-center; /* - значение флексбоксов рассчитывается из высоты центрального элемента */
align-content: space-around;

/*Обязательные свойства контейнера*/

flex-direction: row; /*Указываем направление оси*/
flex-wrap: wrap; /*Указываем, что разрешен перенос строк*/
height: 500px; /*Задаем высоту родительского контейнера*/

}

.flex-3 {
display: flex;
width: 300px;
flex-wrap: wrap;

}




.flex-1 {
display: flex;

/**Свойство align-items отвечает за вертикальное  выравнивание**/


align-items: flex-start; /** Свойство при котором элементы подстраиваются по высоте самого высокого элемента  **/
/**align-items: flex-end; Свойство при котором элементы подстраиваются по низу самого высокого элемента **/

/** align-item: baseline - свойство, при котором элементы выстраиваются по базовой линии **/



}


.align-items {
  /*align-items отвечает за выравнивание по перпендикулярной оси.*/
align-items: flex-start;
  /*
  flex-start — элементы выравниваются от начала перпендикулярной оси;
  flex-end — элементы выравниваются от конца перпендикулярной оси;
  center — элементы выравниваются по центру;
  baseline — элементы выравниваются по базовой линии;
  stretch — элементы растягиваются, занимая все пространство по перпендикулярной оси (значение по умолчанию).
  */
}


.align-content {

align-content: flex-start;

  /*
flex-start — элементы выравниваются от начала главной оси;
flex-end — элементы выравниваются от конца главной оси;
center — элементы выравниваются по центру главной оси;
space-between — элементы выравниваются по главной оси, распределяя свободное место между собой;
space-around — элементы выравниваются по главной оси, распределяя свободное место вокруг себя;
stretch — элементы растягиваются, заполняя всю высоту (значение по умолчанию).
*/
}





p {
  background: blue;
  display: inline;
}


div {
  background: None;
}



.border {
  border: 1px solid red;

}


.flex-row {
display: flex;
/*Направление оси не пишем, так как элементы по умолчанию выстраиваются вряд*/
}





/*Дочерние элементы*/
.flex-1 {
flex: 1;
}

.flex-2 {
flex: 2;

}

.flex-column {
display: flex;
flex-direction: column;


}
